body{
  font-family: "Lexend", sans-serif;
}

/* Add this CSS to your stylesheet */
.form-floating {
  position: relative;
}

.form-floating label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  font-size: 14px;
}

.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
  top: 14px;
  font-size: 13px;
  color: #6c757d;
}

/* Hide the placeholder when the input has a value */
.form-floating input:not(:placeholder-shown) + label + span {
  display: none;
}
.error {
  color: red !important; /* Adding !important to override other styles if needed */
  font-size: 12px;
  /* Add any additional styling if needed */
}
